@font-face {
  font-family: "Neuzeit S LT W01 Book";
  src: url("../fonts/840b8bdf-7d26-449a-9620-8cb6663f18cc.eot?#iefix");
  src: url("../fonts/840b8bdf-7d26-449a-9620-8cb6663f18cc.eot?#iefix") format("eot"), url("../fonts/d741af6b-26f4-4e34-b55d-432ccade3280.woff2") format("woff2"), url("../fonts/77aaeb7b-86f4-47a1-8196-74a660dd0919.woff") format("woff"), url("../fonts/efdf74e6-bfd4-466d-93fd-4f8f4d55b80c.ttf") format("truetype"), url("../fonts/be8d3917-a4cf-4d8f-b767-4e84bcbe300c.svg#be8d3917-a4cf-4d8f-b767-4e84bcbe300c") format("svg")
}
@font-face {
  font-family: "NeuzeitSLTW01-BookHeavy";
  src: url("../fonts/74c31844-4217-4fe8-82f7-88a5075de2e8.eot?#iefix");
  src: url("../fonts/74c31844-4217-4fe8-82f7-88a5075de2e8.eot?#iefix") format("eot"), url("../fonts/3da0a3e3-3dff-405c-a0b2-0b0050b21771.woff2") format("woff2"), url("../fonts/a1476bae-b118-4e9d-b711-c84091d9bc16.woff") format("woff"), url("../fonts/096111d9-3ba2-4828-ae9a-29fb4e03c0b1.ttf") format("truetype"), url("../fonts/74a8e701-bffc-464e-a60b-63169debd492.svg#74a8e701-bffc-464e-a60b-63169debd492") format("svg")
}

body {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s

  margin: 0;
  padding: 0;
  position: relative;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  min-height: 150px;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column
}

body.work img {
  opacity: 0;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s
}

body, h1, h2, h3, p {
  font-size: 14px;
  line-height: 1.4em;
  font-family: Neuzeit S LT W01 Book, Helvetica Neue, Helvetica, Arial, sans;
  font-weight: normal;
  color: #282828;
  letter-spacing: .02em;
}

b, .exhibitions h4, .talks-box h4 {
  font-family: NeuzeitSLTW01-BookHeavy, Helvetica Neue, Helvetica, Arial, sans
}
.exhibitions h2 {
  margin-bottom: 0
}
.exhibitions p {
  margin-top: 0
}
h2 {
  text-align: center;
  margin-top: 0
}
h3 {
  letter-spacing: .06em
}
footer#footer p, header#header nav ul a li, .site-title h2 {
  letter-spacing: .04em
}
p {
  margin-bottom: 1em
}
.small {
  font-size: .8em;
  line-height: 1.3em;
  margin-bottom: 30px
}
a {
  color: #282828;
  text-decoration: none
}
article.legal strong {
  margin-bottom: 1em;
  font-family: NeuzeitSLTW01-BookHeavy, Helvetica Neue, Helvetica, Arial, sans;
  letter-spacing: 0
}
section.work--single a:not(.no-bb), section.interviews a:not(.no-bb), article.contact a:not(.no-bb), article.studio section.exhibitions p a:not(.no-bb), article.studio section.talks p a:not(.no-bb), article.studio section.talks li a:not(.no-bb), article.studio section.lists li a:not(.no-bb), article.studio section.book a:not(.no-bb), article.team-member a:not(.no-bb), article.lost a:not(.no-bb) {
  padding-bottom: .03em;
  border-bottom: solid 1px
}
.excerpt p {
  font-family: NeuzeitSLTW01-BookHeavy, Helvetica Neue, Helvetica, Arial, sans;
  letter-spacing: -0.01em;
  color: #424242
}
.excerpt p a {
  color: #424242
}
@media only screen and (min-width: 500px) {
  .excerpt p {
    font-size: 1.5em;
    line-height: 1.3em;
    font-family: Neuzeit S LT W01 Book, Helvetica Neue, Helvetica, Arial, sans;
    letter-spacing: 0.02em
  }
  article.studio header h1, article.studio header h2, article.studio header p, article.lost h1 {
    font-size: 1.8em;
    line-height: 1.3em;
    font-family: Neuzeit S LT W01 Book, Helvetica Neue, Helvetica, Arial, sans;
    letter-spacing: 0.02em
  }
}
@media only screen and (min-width: 800px) {
  header#header nav ul li {
    font-size: 1em
  }
  article.studio header h1, article.studio header h2, article.studio header p, article.lost h1 {
    font-size: 2em;
    line-height: 1.3em;
    font-family: Neuzeit S LT W01 Book, Helvetica Neue, Helvetica, Arial, sans;
    letter-spacing: 0.02em
  }
}
@media only screen and (min-width: 750px) {
  body, h1, h2, h3, p, header#header nav ul li {
    font-size: 16px;
    line-height: 1.5em
  }
}
@media only screen and (min-width: 1000px) {
  .excerpt p {
    font-size: 1.8em;
    line-height: 1.3em
  }
  article.studio header h1, article.studio header h2, article.studio header p, article.lost h1 {
    font-size: 2.2em;
    line-height: 1.3em
  }
}
@media only screen and (min-width: 1200px) {
  .excerpt p {
    font-size: 1.9em
  }
  article.studio header h1, article.studio header h2, article.studio header p, article.lost h1 {
    font-size: 2.8em;
    line-height: 1.24em;
    letter-spacing: 0.0em
  }
}
.work .excerpt, .work .body-text, article.studio .excerpt, article.studio .body-text {
  margin-top: 30px;
  margin-bottom: 30px
}
@media only screen and (min-width: 1000px) {
  .work .excerpt, .work .body-text, article.studio .excerpt, article.studio .body-text {
    margin-top: 45px
  }
}
@media only screen and (min-width: 1000px) {
  .work .excerpt, .work .body-text, article.studio .excerpt, article.studio .body-text {
    margin-bottom: 60px
  }
}
.work .excerpt.subhead, .work .body-text.subhead, article.studio .excerpt.subhead, article.studio .body-text.subhead {
  margin-bottom: 1em
}
@media only screen and (min-width: 800px) {
  .work .excerpt p, article.studio .excerpt p {
    max-width: 100%
  }
}
.work .body-text, article.studio .body-text {
  max-width: 450px
}
@media only screen and (min-width: 1000px) {
  .work .body-text, article.studio .body-text {
    max-width: 920px
  }
}
.work .body-text+.body-text, article.studio .body-text+.body-text {
  margin-top: 0
}
.work figure, article.studio figure {
  margin-bottom: 3px
}
.work .credits, article.studio .credits {
  margin-bottom: 0
}
.work .credits ul, article.studio .credits ul {
  margin-bottom: 30px
}
@media only screen and (min-width: 1000px) {
  .work .credits ul, article.studio .credits ul {
    margin-bottom: 60px
  }
}
.work .credits ul:last-child, article.studio .credits ul:last-child {
  margin-bottom: 0
}
.work .credits p:last-child, article.studio .credits p:last-child {
  margin-bottom: 0
}
.work .credits h3, article.studio .credits h3 {
  margin-bottom: 1em;
  text-align: left
}
@media only screen and (min-width: 1000px) {
  .work .body-text p, article.studio .body-text p {
    width: 70%
  }
  .work .body-text h3, article.studio .body-text h3 {
    text-align: left
  }
  .work figure, article.studio figure {
    margin-bottom: 15px
  }
}

img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
  display: block
}
ul li {
  list-style: none
}
@media only screen and (max-width: 800px) {
  body.overflow, html.overflow {
    overflow: hidden !important;
    height: 100%
  }
  html:not(.no-touchevents) body.index header div.logo {
    position: fixed !important
  }
}
#container {
  margin: 6vh auto 0;
}

@media only screen and (max-width: 500px) {
  .work {
    margin: 45px 0 0 0;
  }
}

a { cursor: pointer; }

.narrow {
  margin: 0 30px
}
footer#footer {
  margin: 0 30px 30px
}

@media only screen and (min-width: 500px) {
  .narrow {
    margin: 0 40px
  }
}
@media only screen and (min-width: 600px) {
  .narrow {
    margin: 0 60px
  }
}
@media only screen and (min-width: 800px) {
  #container {
    width: 700px;
    margin: 20px auto 0;
  }

  header#header>div {
    width: 700px;
    margin: 0 auto;
    position: relative
  }
  .narrow {
    margin: 0 60px
  }
  footer#footer {
    margin: 0 30px 30px
  }
}
@media only screen and (min-width: 1000px) {
  #container {
    margin: 30px auto 0;
    width: 880px
  }
  header#header>div {
    width: 880px;
    margin: 0 auto
  }
  .narrow {
    margin: 0 60px
  }
}
@media only screen and (min-width: 1200px) {
  #container {
    width: 1080px;
    margin: 30px auto 0px;
  }
  header#header>div {
    width: 1080px
  }
  footer#footer {
    width: 1080px;
    margin: 30px auto 45px
  }
  .narrow {
    width: 920px;
    margin: 0 auto
  }
}
body.margintop #container {
  margin: 73px auto
}
@media only screen and (min-width: 800px) {
  body.margintop #container {
    margin: 105px auto 90px
  }
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
iframe .video {
  height: 112.6% !important
}
body.dark.dark-background {
  transition: background ease 0.7s, color ease 0.7s;
  background: #282828;
  color: #ebebeb;
  -webkit-font-smoothing: antialiased
}
body.dark.dark-background header#header h1 a, body.dark.dark-background header#header h2, body.dark.dark-background header#header nav a {
  transition: color ease 0.7s;
  color: #ebebeb;
  transition: font-family ease 0.7s
}
body.dark.dark-background header#header h1 a, body.dark.dark-background header#header h2 {
  -webkit-font-smoothing: antialiased
}
body.dark.dark-background header#header .toggle-nav span {
  transition: background ease 0.7s;
  background: #ebebeb
}
body.dark.dark-background h1 {
  color: #ebebeb
}
body.dark.dark-background h2, body.dark.dark-background .smooth {
  color: #5a5a5a
}

body.work img {
  opacity: 0;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0
}
header#header {
  position: relative;
  padding-top: 18px
}
header#header a {
  color: #282828
}
header#header .site-title {
  display: none
}
/*header#header .logo {
  position: absolute;
  width: 120px;
  left: 50%;
  margin-left: -60px;
  z-index: 9999
}*/

header#header .logo {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  z-index: 9999;
}

header#header .logo.hide {
  display: none
}
header#header nav {
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #282828;
  opacity: 0;
  color: #282828;
  z-index: 99999
}
header#header nav a {
  color: #dcdcdc;
  text-decoration: none
}
header#header nav i {
  color: #dcdcdc
}
header#header nav a {
  -webkit-tap-highlight-color: #303030
}
header#header nav ul.main-nav li {
  padding: 0;
  letter-spacing: 0.04em;
  line-height: 1.2em
}
header#header nav .mobile-nav-contact {
  position: fixed;
  rigth: 0
}
header#header nav .mobile-nav-contact ul {
  margin: 0
}
header#header nav address {
  -webkit-font-smoothing: antialiased;
  position: fixed;
  bottom: -30px
}
header#header nav address p {
  font-size: 12px;
  color: #dcdcdc;
  line-height: 1.5em;
  margin-top: 0
}
header#header nav address p:last-child {
  margin-bottom: 0
}
header#header nav address p:first-child {
  text-indent: -.6em;
  margin-bottom: 1.9em
}
header#header nav ul.social {
  position: fixed;
  bottom: -30px;
  right: 30px;
  margin: 0
}
header#header nav ul.social li {
  font-size: 12px;
  padding-bottom: 12px
}
header#header nav ul.social li:last-child {
  padding-bottom: 0
}
header#header nav.visible {
  visibility: visible;
  overflow: hidden;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 1;
  position: fixed
}
header#header nav.visible ul.social {
  -webkit-transition: bottom 0.4s;
  -moz-transition: bottom 0.4s;
  -ms-transition: bottom 0.4s;
  -o-transition: bottom 0.4s;
  transition: bottom 0.4s;
  bottom: 30px
}
header#header nav.visible ul.main-nav li {
  -webkit-transition: padding 0.5s;
  -moz-transition: padding 0.5s;
  -ms-transition: padding 0.5s;
  -o-transition: padding 0.5s;
  transition: padding 0.5s;
  padding: .6em 0
}
header#header nav.visible address {
  -webkit-transition: bottom 0.4s;
  -moz-transition: bottom 0.4s;
  -ms-transition: bottom 0.4s;
  -o-transition: bottom 0.4s;
  transition: bottom 0.4s;
  bottom: 30px
}
@media only screen and (max-width: 799px) {
  header#header nav.transition-dismiss {
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    opacity: 0;
    visibility: hidden
  }
  header#header nav.transition-dismiss ul, header#header nav.transition-dismiss address {
    visibility: hidden
  }
}
header#header nav div {
  margin: 0 30px;
  position: relative
}
header#header .toggle-nav {
  position: fixed;
  left: 30px;
  top: 25px;
  z-index: 999999999;
}
header#header .toggle-nav span {
  display: block;
  background: #282828;
  width: 20px;
  height: 2px;
  margin-bottom: 3px
}
header#header .toggle-nav.active span {
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -ms-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
  background: #dcdcdc !important;
}
@media only screen and (max-width: 799px) {
  header#header {
    -webkit-overflow-scrolling: touch
  }
  header#header nav {
    position: fixed;
    -webkit-font-smoothing: antialiased
  }
  header#header nav ul.main-nav {
    margin-top: 55px
  }
  header#header nav ul.main-nav li {
    font-size: 1.8em;
    text-align: center
  }
}
@media only screen and (max-width: 799px) and (orientation: portrait) and (min-width: 500px) {
  header#header nav a {
    -webkit-tap-highlight-color: #282828
  }
  header#header nav ul.main-nav li {
    font-size: 2em
  }
}
@media only screen and (max-width: 799px) and (orientation: portrait) {
  header#header nav address {
    left: 30px
  }
}
@media only screen and (max-width: 799px) and (orientation: portrait) and (max-height: 450px) {
  header#header nav ul.main-nav li {
    font-size: 1.2em
  }
}
@media only screen and (max-width: 799px) and (orientation: portrait) and (max-height: 400px) {
  header#header nav address, header#header nav ul.social {
    display: none
  }
}
@media only screen and (max-width: 799px) and (orientation: landscape) {
  header#header nav ul.main-nav {
    position: fixed;
    bottom: 30px;
    margin-bottom: 0
  }
  header#header nav ul.main-nav li {
    text-align: left;
    padding: .8em 0 0 !important
  }
  header#header nav address {
    right: 150px !important
  }
}
@media only screen and (max-width: 799px) and (orientation: landscape) and (max-width: 460px) {
  header#header nav address {
    display: none
  }
}
@media only screen and (min-width: 800px) {
  header#header {
    padding-top: 30px
  }
  header#header .toggle-nav {
    display: none
  }
  header#header nav, header#header .site-title {
    padding-top: 36px
  }
  header#header .logo {
    z-index: 9999999999
  }
  header#header .logo.hide {
    display: block
  }
  header#header nav {
    display: block;
    visibility: visible !important;
    opacity: 1 !important;
    position: relative;
    background: none;
    color: #282828
  }
  header#header nav>div {
    margin: 0
  }
  header#header nav.visible {
    overflow: visible !important;
    position: relative
  }
  header#header nav ul.main-nav {
    display: inline-block;
    position: absolute;
    right: 0px
  }
  header#header nav ul.main-nav a:last-child li {
    margin-right: 0
  }
  header#header nav ul.main-nav {
    margin-top: 0
  }
  header#header nav ul.main-nav li {
    border-top: none;
    padding-top: 0 !important;
    margin-top: 0;
    display: inline-block;
    text-align: right;
    margin-right: 1em;
    text-transform: none;
    padding: 0
  }
  header#header nav ul.main-nav li.rollout {
    display: inline-block
  }
  header#header nav ul.main-nav li a:hover, header#header nav ul.main-nav li a.active {
    text-decoration: line-through;
    color: #676767
  }
  header#header nav a {
    color: #282828
  }
  header#header nav a:hover {
    color: #676767
  }
  header#header nav address {
    display: none
  }
  header#header nav .mobile-nav-contact {
    display: none
  }
  header#header .site-title {
    display: block;
    position: absolute;
    left: 0px;
    text-transform: lowercase
  }
  header#header .site-title a {
    text-decoration: none
  }
  header#header .site-title a:hover {
    color: #676767
  }
  header#header.notOnTop, header#header.scrollup {
    position: fixed;
    left: 50%;
    margin-left: -350px;
    z-index: 99999;
    background: #ebebeb;
    padding-top: 15px !important;
    padding-bottom: 20px;
    overflow: hidden;
    min-height: 20px
  }
  header#header.notOnTop .site-title h2, header#header.scrollup .site-title h2 {
    position: absolute;
    top: 0px;
    margin: 0;
    width: 500px;
    text-align: left
  }
  header#header.notOnTop ul.main-nav, header#header.scrollup ul.main-nav {
    margin: 0
  }
  header#header.notOnTop div, header#header.scrollup div {
    margin: 0
  }
  header#header.notOnTop .logo, header#header.scrollup .logo {
    display: none
  }
  header#header.notOnTop nav, header#header.notOnTop .site-title, header#header.scrollup nav, header#header.scrollup .site-title {
    padding-top: 0
  }
  header#header.notOnTop {
    top: -60px
  }
  header#header.opacity {
    transition: top .2s linear;
    -webkit-transition: top .2s linear;
    top: -60px
  }
  header#header.scrollup {
    top: 0;
    transition: top .2s linear;
    -webkit-transition: top .2s linear;
    z-index: 99999
  }
}
@media only screen and (min-width: 1000px) {
  header#header.notOnTop, header#header.scrollup {
    margin-left: -440px
  }
}
@media only screen and (min-width: 1200px) {
  header#header.notOnTop, header#header.scrollup {
    margin-left: -540px
  }
}
@media only screen and (min-width: 800px) {
  #container.margin-top {
    margin-top: 115px
  }
}
@media only screen and (min-width: 1200px) {
  #container.margin-top {
    margin-top: 125px
  }
}
html:not(.no-touchevents).fixed header#header {
  position: relative !important
}
html:not(.no-touchevents).fixed header#header nav.visible {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 800px
}
html:not(.no-touchevents).fixed header#header .mobile-nav-contact {
  position: relative
}
footer#footer {
  text-align: center;
  z-index: 9999999999
}
footer#footer.hide {
  display: none
}
footer#footer p {
  margin-bottom: 0
}
@media only screen and (min-width: 1200px) {
  footer#footer {
    margin: 0 auto 45px
  }
}

@media all and (-ms-high-contrast: none) {
  body {
    display: flex
  }
  *::-ms-backdrop, body {
    display: block
  }
  *::-ms-backdrop, body.lost footer#footer {
    position: fixed;
    bottom: 0;
    width: 300px;
    left: 50%;
    margin-left: -150px
  }
}
main#content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}

body.index footer#footer {
  position: fixed;
  bottom: 0;
  width: 300px;
  left: 50%;
  margin-left: -150px
}
.work header:not(#header) {
  margin-bottom: 30px
}
.work header:not(#header) h1, .work header:not(#header) h2 {
  text-align: center
}
.work header:not(#header) figure {
  margin-bottom: 10px
}
@media only screen and (min-width: 1000px) {
  .work header:not(#header) figure {
    margin-bottom: 20px
  }
}
@media only screen and (min-width: 1000px) {
  .work header:not(#header) {
    margin-bottom: 60px
  }
}
.work--overview__project {
  margin-bottom: 30px
}
@media only screen and (min-width: 1000px) {
  .work--overview__project {
    margin-bottom: 60px
  }
}
.work--overview__project:last-child {
  margin-bottom: 0
}
.work--overview__project a {
  text-decoration: none
}
.work--overview__project .project-title {
  text-align: center;
  margin-top: 10px
}
@media only screen and (min-width: 1000px) {
  .work--overview__project .project-title {
    margin-top: 15px
  }
}
@media only screen and (min-width: 1200px) {
  .work--overview__project figure {
    height: 540px
  }
}
@media only screen and (min-width: 1200px) {
  .work--single header figure {
    height: 607px
  }
}
article.studio h1, article.studio h2 {
  text-align: left
}
article.studio h3 {
  margin-bottom: 1em
}
article.studio header {
  padding: 2em 30px 0;
  margin-bottom: 60px
}
@media only screen and (min-width: 1000px) {
  article.studio header {
    margin-bottom: 120px
  }
}
article.studio header.margin {
  margin-bottom: 0
}
article.studio header p {
  margin-top: 1em
}
article.studio header #toggle-text {
  text-decoration: underline
}
article.studio.team-member section.body-text {
  margin-bottom: 0
}
article.studio.team-member section.body-text .credits ul:last-of-type {
  margin-bottom: 0
}
article.studio section.network, article.studio section.section-studio, article.studio section.exhibitions, article.studio section.talks, article.studio section.more {
  margin-bottom: 60px
}
@media only screen and (min-width: 1000px) {
  article.studio section.network, article.studio section.section-studio, article.studio section.exhibitions, article.studio section.talks, article.studio section.more {
    margin-bottom: 120px
  }
}
article.studio section.more {
  display: none
}
article.studio section.more.visible {
  display: block
}
article.studio section.team {
  margin-bottom: 30px
}
article.studio section.team h3 {
  padding-left: 30px
}
article.studio section.team h1, article.studio section.team h2 {
  font-size: .8em;
  line-height: 1.6em;
  text-align: center
}
article.studio section.team .team-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start
}
article.studio section.team .team-box .team-member {
  -webkit-flex: 1 0 50%;
  -moz-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  margin-bottom: 30px
}
@media only screen and (min-width: 1000px) {
  article.studio section.team .team-box .team-member {
    margin-bottom: 60px
  }
}
article.studio section.team .team-box .team-member h1 {
  padding-top: .5em
}
article.studio section.team .team-box .team-member:hover img {
  opacity: .7
}
article.studio section.team.section-studio figure {
  margin-bottom: 30px
}
@media only screen and (min-width: 1000px) {
  article.studio section.team.section-studio figure {
    margin-bottom: 60px
  }
}
article.studio section.talks {
  padding: 1px 0 !important
}
article.studio section.talks p {
  margin-bottom: 0
}
article.studio section.exhibitions h4, article.studio section.talks h4 {
  margin-bottom: 1em
}
article.studio section.exhibitions .exhibition-box, article.studio section.talks .exhibition-box {
  margin-bottom: 30px;
  padding: 1px 0
}
article.studio section.exhibitions .exhibition, article.studio section.talks .exhibition {
  margin-bottom: 1em
}
@media only screen and (min-width: 1000px) {
  article.studio section.exhibitions .exhibition, article.studio section.talks .exhibition {
    margin-bottom: 2em
  }
}
article.studio section.exhibitions .exhibition p, article.studio section.talks .exhibition p {
  margin-bottom: 0
}
article.studio section.talks .talks-box, article.studio section.interviews .talks-box {
  margin-bottom: 1em
}
@media only screen and (min-width: 1000px) {
  article.studio section.talks .talks-box, article.studio section.interviews .talks-box {
    margin-bottom: 2em
  }
}
article.studio section.talks ul li i, article.studio section.interviews ul li i {
  background: url(/assets/video_tag.svg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 32px;
  height: 14px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: sub
}
@media only screen and (min-width: 750px) {
  article.studio section.talks ul li i, article.studio section.interviews ul li i {
    width: 41px;
    height: 19px
  }
}
article.studio section.interviews {
  margin-bottom: 0
}
article.studio section.book a.img {
  border-bottom: none;
  padding-bottom: 0
}
@media only screen and (min-width: 500px) {
  article.studio header #toggle-text {
    display: none
  }
  article.studio section.more {
    display: block
  }
  article.studio section.team h3 {
    padding-left: 40px
  }
  article.studio section.team .team-box .team-member {
    -webkit-flex: 1 0 32%;
    -moz-flex: 1 0 32%;
    -ms-flex: 1 0 32%;
    flex: 1 0 32%
  }
  article.studio section.exhibitions .exhibition-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start
  }
  article.studio section.exhibitions .exhibition-box .exhibition {
    -webkit-flex: 0 1 48%;
    -moz-flex: 0 1 48%;
    -ms-flex: 0 1 48%;
    flex: 0 1 48%;
    margin-right: 2%
  }
  article.studio section.exhibitions .exhibition-box .exhibition:nth-child(2n) {
    margin-right: 0
  }
  article.studio header {
    padding-left: 40px
  }
}
@media only screen and (min-width: 600px) {
  article.studio section.team h3 {
    padding-left: 60px
  }
  article.studio header {
    padding-left: 60px;
    padding-right: 60px
  }
}
@media only screen and (min-width: 800px) {
  article.studio header {
    padding-left: 0;
    padding-right: 0
  }
  article.studio section.team h1, article.studio section.team h2 {
    text-align: left;
    font-size: 1em
  }
  article.studio section.team h3 {
    padding-left: 0
  }
  article.studio section.team .team-box {
    width: 90%
  }
  article.studio section.team .team-box .team-member {
    -webkit-flex: 0 1 32%;
    -moz-flex: 0 1 32%;
    -ms-flex: 0 1 32%;
    flex: 0 1 32%
  }
  article.studio section.team .team-box .team-member h1, article.studio section.team .team-box .team-member h2 {
    padding-left: 0
  }
  article.studio section.exhibitions {
    margin-bottom: 50px
  }
}
@media only screen and (min-width: 800px) and (min-width: 1000px) {
  article.studio section.exhibitions {
    margin-bottom: 100px
  }
}
@media only screen and (min-width: 800px) {
  article.studio section.exhibitions .exhibition-box {
    margin-bottom: 0
  }
  article.studio section.exhibitions .exhibition-box .exhibition {
    -webkit-flex: 0 1 32%;
    -moz-flex: 0 1 32%;
    -ms-flex: 0 1 32%;
    flex: 0 1 32%
  }
  article.studio section.exhibitions .exhibition-box .exhibition:nth-child(2n) {
    margin-right: 2%
  }
  article.studio section.exhibitions .exhibition-box .exhibition:nth-child(3n) {
    margin-right: 0
  }
  article.studio section.talks, article.studio section.book {
    padding: 0
  }
}
@media only screen and (min-width: 1000px) {
  article.studio header {
    margin-bottom: 80px
  }
  article.studio section.team, article.studio section.interview {
    margin-bottom: 10px
  }
  article.studio section.team .team-box, article.studio section.team .interview-box, article.studio section.interview .team-box, article.studio section.interview .interview-box {
    width: 73%
  }
  article.studio section.section-studio .body-text, article.studio section.book .body-text {
    margin-bottom: 30px
  }
  article.studio section.section-studio, article.studio section.exhibitions, article.studio section.talks, article.studio section.more {
    margin-bottom: 40px
  }
}
@media only screen and (min-width: 1000px) and (min-width: 1000px) {
  article.studio section.section-studio, article.studio section.exhibitions, article.studio section.talks, article.studio section.more {
    margin-bottom: 80px
  }
}
@media only screen and (min-width: 1000px) {
  article.studio section.network {
    margin-bottom: 40px;
    margin-top: 0
  }
}
@media only screen and (min-width: 1200px) {
  article.studio header {
    margin-bottom: 100px
  }
  article.studio section.exhibitions {
    width: 920px;
    padding: 0
  }
  article.studio section.exhibitions .exhibition-box {
    margin-bottom: 2em
  }
}
article.studio.overview section.exhibitions .exhibition-box {
  margin-bottom: 0
}
article.team-member {
  padding: 0 30px;
  padding-top: 0
}
article.team-member figure.profile-image {
  margin-top: 30px;
  max-width: 320px
}
@media only screen and (min-width: 1000px) {
  article.team-member figure.profile-image {
    margin-top: 45px
  }
}
article.team-member section.contact {
  margin-top: 30px;
  margin-bottom: 15px
}
@media only screen and (min-width: 1000px) {
  article.team-member section.contact {
    margin-top: 45px
  }
}
@media only screen and (min-width: 1000px) {
  article.team-member section.contact {
    margin-bottom: 30px
  }
}
article.team-member section.bio {
  margin-top: 30px;
  margin-bottom: 15px
}
@media only screen and (min-width: 1000px) {
  article.team-member section.bio {
    margin-top: 45px
  }
}
@media only screen and (min-width: 1000px) {
  article.team-member section.bio {
    margin-bottom: 30px
  }
}
article.team-member section.bio p {
  margin-left: 0
}
@media only screen and (min-width: 800px) {
  article.team-member {
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start
  }
  article.team-member figure.profile-image {
    -webkit-flex: 0 1 30%;
    -moz-flex: 0 1 30%;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%
  }
  article.team-member section.body-text {
    -webkit-flex: 0 1 70%;
    -moz-flex: 0 1 70%;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%
  }
}
@media only screen and (min-width: 1000px) {
  article.team-member figure.profile-image {
    -webkit-flex: 0 1 320px;
    -moz-flex: 0 1 320px;
    -ms-flex: 0 1 320px;
    flex: 0 1 320px
  }
  article.team-member section.body-text {
    -webkit-flex: 0 1 59%;
    -moz-flex: 0 1 59%;
    -ms-flex: 0 1 59%;
    flex: 0 1 59%
  }
  article.team-member section.body-text p {
    width: 90%
  }
}
@media only screen and (min-width: 1200px) {
  article.team-member section.body-text {
    -webkit-flex: 0 1 67%;
    -moz-flex: 0 1 67%;
    -ms-flex: 0 1 67%;
    flex: 0 1 67%
  }
  article.team-member section.body-text p {
    width: 70%
  }
}
body.index {
  background: #EBEBEB;
  -webkit-font-smoothing: antialiased
}

.disable-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
}

body.index header#header nav ul.main-nav a {
  color: #dcdcdc
}
body.index header#header .toggle-nav span {
  background: #202020;
}
body.index header#header h2.index-site-title {
  position: relative;
  color: #dcdcdc;
  z-index: 9999;
  text-align: left
}
@media only screen and (max-width: 800px) {
  body.index header#header .index-site-title-container {
    display: none;
  }
}
body.index footer#footer p {
  color: #202020;
  opacity: 0.5;
}
.ie7 body {
  overflow: hidden
}
ol, ul {
  list-style: none
}
.cb-slideshow {
  margin-top: 0
}
.cb-slideshow, .cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0
}
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  z-index: 0;
  -webkit-animation-name: imageAnimation;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 35s;
  animation-name: imageAnimation;
  animation-iteration-count: infinite;
  animation-duration: 35s
}
.cb-slideshow li:nth-child(1) span {
  -webkit-animation-delay: -28s;
  -moz-animation-delay: -28s;
  -o-animation-delay: -28s;
  -ms-animation-delay: -28s;
  animation-delay: -28s
}
.cb-slideshow li:nth-child(2) span {
  -webkit-animation-delay: -21s;
  -moz-animation-delay: -21s;
  -o-animation-delay: -21s;
  -ms-animation-delay: -21s;
  animation-delay: -21s
}
.cb-slideshow li:nth-child(3) span {
  -webkit-animation-delay: -14s;
  -moz-animation-delay: -14s;
  -o-animation-delay: -14s;
  -ms-animation-delay: -14s;
  animation-delay: -14s
}
.cb-slideshow li:nth-child(4) span {
  -webkit-animation-delay: -7s;
  -moz-animation-delay: -7s;
  -o-animation-delay: -7s;
  -ms-animation-delay: -7s;
  animation-delay: -7s
}

.featured-title li:nth-child(1) p {
  opacity: 1;
  animation-delay: -38s;
  -webkit-animation-delay: -38s
}
.featured-title li:nth-child(2) p {
  animation-delay: -31s;
  -webkit-animation-delay: -31s
}
.featured-title li:nth-child(3) p {
  animation-delay: -24s;
  -webkit-animation-delay: -24s
}
.featured-title li:nth-child(4) p {
  animation-delay: -17s;
  -webkit-animation-delay: -17s
}
.featured-title li:nth-child(5) p {
  animation-delay: -10s;
  -webkit-animation-delay: -10s
}
.index-site-title-container {
  width: 70%;
  margin: 0 !important;
  display: inline-block
}
.index-site-title-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin: 0 !important
}
.index-site-title-box h2 {
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-right: 5px
}
.index-site-title-box ul {
  -webkit-flex: 0 1 70%;
  -moz-flex: 0 1 70%;
  -ms-flex: 0 1 70%;
  flex: 0 1 70%;
  text-align: left
}
.featured-title {
  position: relative;
  width: 100%
}
ul.featured-title {
  margin: 0
}
ul.featured-title li p {
  color: #dcdcdc;
  text-transform: lowercase
}
.featured-title li p {
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  margin-top: 0;
  z-index: 99;
  -webkit-animation: titleAnimation 35s linear infinite 0s;
  -moz-animation: titleAnimation 35s linear infinite 0s;
  -o-animation: titleAnimation 35s linear infinite 0s;
  -ms-animation: titleAnimation 35s linear infinite 0s;
  animation: titleAnimation 35s linear infinite 0s
}

.featured-title li p a {
  color: #dcdcdc !important
}

.cb-slideshow {
  -webkit-animation: introFade 2s ease-in;
  -moz-animation: introFade 2s ease-in;
  -o-animation: introFade 2s ease-in;
  -ms-animation: introFade 2s ease-in;
  animation: introFade 2s ease-in
}

.no-cssanimations .cb-slideshow li span {
  opacity: 1
}
article.contact address, article.contact .social, article.contact p.mb {
  margin-bottom: 30px
}
article.contact input {
  margin-bottom: .33em;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-appearance: value;
  -moz-appearance: value;
  appearance: value;
  box-sizing: border-box
}
article.contact label {
  margin-bottom: .5em;
  display: block
}
article.contact input[type="submit"] {
  background: none;
  border: solid 1px #c8c8c8;
  padding: .1em .3em
}
article.contact input[type="email"] {
  border: solid 1px #c8c8c8
}
article.contact ul.social {
  margin-top: 0
}
article.contact #mc_embed_signup form input {
  display: inline-block
}
article.contact #mc_embed_signup form .mc-field-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start
}
article.contact #mc_embed_signup form .mc-field-group .mail {
  -webkit-flex: 0 0 150px;
  -moz-flex: 0 0 150px;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  margin-right: 10px
}
article.contact #mc_embed_signup form .mc-field-group .mail input {
  width: 150px;
  padding: .1em .3em;
  border: none
}
article.contact #mc_embed_signup form .mc-field-group .submit {
  -webkit-flex: 0 0 75px;
  -moz-flex: 0 0 75px;
  -ms-flex: 0 0 75px;
  flex: 0 0 75px
}
article.contact .map {
  width: 100%
}
article.contact .map h3 {
  margin-left: 30px;
  margin-bottom: 1em
}
article.contact #onf_map {
  height: 400px;
  width: 100%
}
@media only screen and (max-width: 800px) {
  article.contact #onf_map {
    height: 300px
  }
}
article.contact .gm-style-iw * {
  display: block;
  width: 100%
}
article.contact .gm-style-iw h4, article.contact .gm-style-iw p {
  margin: 0;
  padding: 0
}
article.contact .gm-style-iw a {
  color: #4272db
}
article.contact .gm-style-iw * {
  width: auto
}
article.contact section.getintouch div {
  margin-bottom: 30px
}
@media only screen and (min-width: 1000px) {
  article.contact section.getintouch div {
    margin-bottom: 60px
  }
}
article.contact #mc_embed_signup div {
  margin-bottom: 5px !important
}
article.contact #mc_embed_signup div label {
  max-width: 300px
}
@media only screen and (min-width: 500px) {
  article.contact section.getintouch {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start
  }
  article.contact section.getintouch div {
    -webkit-flex: 0 0 49%;
    -moz-flex: 0 0 49%;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%
  }
  article.contact section.getintouch div:first-child {
    margin-right: 2%
  }
  article.contact .map h3 {
    margin-left: 40px
  }
  article.contact #map {
    height: 400px
  }
}
@media only screen and (min-width: 600px) {
  article.contact .map h3 {
    margin-left: 60px
  }
}
@media only screen and (min-width: 800px) {
  article.contact .map h3 {
    margin-left: 0
  }
}
@media only screen and (min-width: 1200px) {
  article.contact>div section.getintouch>div {
    -webkit-flex: 0 0 35%;
    -moz-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%
  }
  article.contact>div section:first-child {
    margin-right: 2%
  }
}
article.lost header {
  padding: 2em 30px 0
}
@media only screen and (min-width: 600px) {
  article.lost header {
    padding-left: 60px;
    padding-right: 60px
  }
}
@media only screen and (min-width: 800px) {
  article.lost header {
    padding-left: 0;
    padding-right: 0
  }
}

/*****************************************************
 * Path
 */

#main {
  display: block;
  margin: 0 auto;
}
#main path {
  -webkit-transition: fill-opacity 0.5s;
  transition: fill-opacity 0.5s;
}
#main path:hover {
  fill-opacity: 0.5;
}
@media screen and (max-width: 480px) {
  #main {
    width: 100%;
  }
}

.work--overview__project {
  margin-bottom: 30px
}
@media only screen and (min-width: 1000px) {
  .work--overview__project {
    margin-bottom: 60px
  }
}
.work--overview__project:last-child {
  margin-bottom: 0
}
.work--overview__project a {
  text-decoration: none
}
.work--overview__project .project-title {
  text-align: center;
  margin-top: 10px
}
@media only screen and (min-width: 1000px) {
  .work--overview__project .project-title {
    margin-top: 15px
  }
}
@media only screen and (min-width: 1200px) {
  .work--overview__project figure {
    height: 540px
  }
}

#defaultCanvas0 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo h1 {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: 500;
  color: #202020;
  opacity: 0.66;
}

.music iframe {
  width: 90%;
  padding: 1em 5%;
}

.about h1 {
  margin-bottom: 0px;
}

.home {
  user-select: none;
  -webkit-user-select: none;
}

#behance {
  fill: #0955ff;
}

#blog {
  fill: #c12354;
}

#facebook {
  fill: #3b5999;
}

#soundcloud {
  fill: #cb5923
}

#twitter {
  fill: #55aded;
}

#youtube {
  fill: #cd181f;
}
