/* =========================================
 RESET
 ============================================= */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

a {
  border: 0px;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

#wrapper {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-style:  normal;
  font-size: 10px;
  letter-spacing: .5em;
}

#center_content {
  width: 912px;
  margin: 0 auto 40px auto;
  text-align: center;
}

img.logo {
  width: 350px;
  margin: 50px auto 40px auto;
  position: relative;
}
.column {
  width: 224px;
  float: left;
  margin: 0 4px 0 0;
}

.column-wide {
  width: 300px;
  float: left;
  margin: 0 4px 0 0;
}

.column-thin {
  width: 168px;
  float: left;
  margin: 0 4px 0 0;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  cursor: pointer;
}

h1 {
  text-indent: -5555px;
}

h2.left {
  z-index: 8000;
  position: absolute;
  bottom: 3px;
  left: 4px;
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
  background: 0;
}

h2.right {
  z-index: 9999;
  position: absolute;
  bottom: 3px;
  right: 4px;
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
  background: 0;
}

/* =========================================
 BOXES
 ============================================= */

.box55x55 {
  width: 52px;
  height: 52px;
}

.box110x110 {
  width: 110px;
  height: 110px;
}

.box224x224 {
  width: 224px;
  height: 224px;
}

.box224x110 {
  width: 224px;
  height: 140px;
}

.box300x100 {
  width: 300px;
  height: 100px;
}

.box55x55_right{
  width: 52px;
  height: 52px;
  margin: 0 0 4px 0;
  float: left;
  display: block;
}

.box110x110_right {
  width: 110px;
  height: 110px;
  margin: 0 0 4px 0;
  float: right;
  display: block;
}

.box224x169 {
  width: 224px;
  height: 169px;
  z-index: 50;
}

.box224x165 {
  width: 224px;
  height: 165px;
  z-index: 40;
}

.box141x338_left {
  width: 164px;
  height: 300px;
  margin: 0 0 4px 0;
  position: relative;
  float: left;
}

.box141x338_right {
  width: 141px;
  height: 338px;
  margin: 0 0 4px 0;
  position: relative;
  float: right;
}

.box224x338 {
  width: 224px;
  height: 338px;
  margin: 0 0 4px 0;
  position: relative;
}

.box55x55, .box224x224, .box110x110, .box224x169, .box224x165, .box224x110, .box300x100, .box141x338_left {
  margin: 0 4px 4px 0;
  float: left;
  display: block;
  overflow: hidden;
}

.box55x55, .box224x224, .box110x110, .box224x169, .box224x165, .box224x110, .box300x100, .box141x338_right, .box224x338, .box55x55_right, .box110x110_right {
  /*box-shadow: 2px 2px 20px 0 #121213;*/
  background: transparent;
  overflow: hidden;
  position: relative;
  border: 0px;
}

p#copyright {
  text-align: center;
  color: #000;
}

/* =========================================
 MEDIA QUERIES
 ============================================= */

@media screen and (max-width:480px) {
  img.logo {
    width: 200px;
    margin: 20px auto 10px auto;
  }

  #center_content {
    width: 228px;
  }
}
