header#header {
  position: relative;
  padding-top: 30px;

  a {
    color: #282828;
  }

  .site-title {
    display: none;
  }

  .logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    z-index: 9999;

    &:hover, :active {
      opacity: 0.6;
    }

    &.hide {
      display: none;
    }

    h1 {
      text-align: center;
      margin: 0;
      font-size: 1.5em;
      font-weight: 500;
      color: #202020;
      opacity: .66;
      padding: 1em;
    }
  }
}
