$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px;

@mixin mobile {
  @media (min-width: 300px) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@font-face {
  font-family: "Neuzeit S LT W01 Book";
  src: url(../assets/fonts/840b8bdf-7d26-449a-9620-8cb6663f18cc.eot?#iefix);
  src: url(../assets/fonts/840b8bdf-7d26-449a-9620-8cb6663f18cc.eot?#iefix) format("eot"), url(../assets/fonts/d741af6b-26f4-4e34-b55d-432ccade3280.woff2) format("woff2"), url(../assets/fonts/77aaeb7b-86f4-47a1-8196-74a660dd0919.woff) format("woff"), url(../assets/fonts/efdf74e6-bfd4-466d-93fd-4f8f4d55b80c.ttf) format("truetype"), url(../assets/fonts/be8d3917-a4cf-4d8f-b767-4e84bcbe300c.svg#be8d3917-a4cf-4d8f-b767-4e84bcbe300c) format("svg");
}

@font-face {
  font-family: "NeuzeitSLTW01-BookHeavy";
  src: url(../assets/fonts/74c31844-4217-4fe8-82f7-88a5075de2e8.eot?#iefix);
  src: url(../assets/fonts/74c31844-4217-4fe8-82f7-88a5075de2e8.eot?#iefix) format("eot"), url(../assets/fonts/3da0a3e3-3dff-405c-a0b2-0b0050b21771.woff2) format("woff2"), url(../assets/fonts/a1476bae-b118-4e9d-b711-c84091d9bc16.woff) format("woff"), url(../assets/fonts/096111d9-3ba2-4828-ae9a-29fb4e03c0b1.ttf) format("truetype"), url(../assets/fonts/74a8e701-bffc-464e-a60b-63169debd492.svg#74a8e701-bffc-464e-a60b-63169debd492) format("svg");
}

body {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
  margin: 0;
  padding: 0;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  min-height: 150px;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  font-size: 14px;
  line-height: 1.4em;
  font-family: Neuzeit S LT W01 Book,Helvetica Neue,Helvetica,Arial,sans;
  font-weight: 400;
  color: #282828;
  letter-spacing: .02em;

  &.work img {
    opacity: 0;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
  }

  &.dark.dark-background {
    transition: background ease 0.7s,color ease .7s;
    background: #282828;
    color: #ebebeb;
    -webkit-font-smoothing: antialiased;

    header#header {
      h1 a, h2, nav a {
        transition: color ease .7s;
        color: #ebebeb;
        transition: font-family ease .7s;
      }

      h1 a, h2 {
        -webkit-font-smoothing: antialiased;
      }

      .toggle-nav span {
        transition: background ease .7s;
        background: #ebebeb;
      }
    }

    h1 {
      color: #ebebeb;
    }

    h2, .smooth {
      color: #5a5a5a;
    }
  }

  &.work img {
    opacity: 0;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
  }
}

h1, h2, h3, p {
  font-size: 14px;
  line-height: 1.4em;
  font-family: Neuzeit S LT W01 Book,Helvetica Neue,Helvetica,Arial,sans;
  font-weight: 400;
  color: #282828;
  letter-spacing: .02em;
}

h2 {
  text-align: center;
  margin-top: 0;
}

h3 {
  letter-spacing: .06em;
}

p {
  margin-bottom: 1em;
}

.small {
  font-size: .8em;
  line-height: 1.3em;
  margin-bottom: 30px;
}

a {
  color: #282828;
  text-decoration: none;
}

section {
  &.work--single a:not(.no-bb) {
    padding-bottom: .03em;
    border-bottom: solid 1px;
  }
}

article {
  &.studio {
    h1, h2 {
      text-align: left;
    }

    h3 {
      margin-bottom: 1em;
    }

    h1, h2, p {
      opacity: 0.76;
      font-size: 1.8em;
      line-height: 1.3em;
      font-family: Neuzeit S LT W01 Book,Helvetica Neue,Helvetica,Arial,sans;
      letter-spacing: .02em;

      @include tablet {
        font-size: 2em;
      }
    }

    header {
      padding: 2em 30px 0px;
      margin-bottom: 60px;

      @include desktop {
        margin-bottom: 0px;
        padding: 0 0;
      }

      &.margin {
        margin-bottom: 0;
      }

      p {
        margin-top: 1em;
      }

      #toggle-text {
        text-decoration: underline;
      }
    }
  }
}

body.index {
  background: #EBEBEB;
  -webkit-font-smoothing: antialiased;
}

.disable-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
}

.ie7 body {
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

@media only screen and (min-width: 750px) {
  body, h1, h2, h3, p, header#header nav ul li {
    font-size: 16px;
    line-height: 1.5em;
  }
}

@media only screen and (min-width: 1000px) {
  article {
    &.studio header {
      h1, h2, p {
        font-size: 2.2em;
        line-height: 1.3em;
      }
    }

    &.lost h1 {
      font-size: 2.2em;
      line-height: 1.3em;
    }
  }
}

@include desktop {
  .work--single header figure {
    height: 607px;
  }

  .work--overview__project figure {
    height: 540px;
  }

  article {
    &.studio header {
      h1, h2, p {
        font-size: 1.5em;
        line-height: 1.24em;
        letter-spacing: 0;
      }
    }
  }

  #container {
    width: 80%;
    margin: 0 auto;
  }

  header#header > div {
    width: 1080px;
  }

  header#header {
    &.notOnTop, &.scrollup {
      margin-left: -540px;
    }
  }

  #container.margin-top {
    margin-top: 125px;
  }
}

.work figure, article.studio figure {
  margin-bottom: 3px;
}

@media only screen and (min-width: 1000px) {
  .work .body-text p, article.studio .body-text p {
    width: 70%;
  }

  .work .body-text h3, article.studio .body-text h3 {
    text-align: left;
  }

  .work figure, article.studio figure {
    margin-bottom: 15px;
  }
}

img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
  display: block;
}

ul li {
  list-style: none;
}

@media only screen and (max-width: 800px) {
  body.overflow {
    overflow: hidden !important;
    height: 100%;
  }

  html {
    &.overflow {
      overflow: hidden !important;
      height: 100%;
    }

    &:not(.no-touchevents) body.index header div.logo {
      position: fixed !important;
    }
  }
}

@media only screen and (max-width: 500px) {
  .work, .music article {
    margin: 45px 0 0;
  }
}

a {
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  #container {
    width: 700px;
    margin: 20px auto 0;
  }

  header#header > div {
    width: 700px;
    margin: 0 auto;
    position: relative;
  }
}

@media only screen and (min-width: 1000px) {
  #container {
    margin: 0 auto;
    width: 880px;
  }

  header#header > div {
    width: 880px;
    margin: 0 auto;
  }
}

body.margintop #container {
  margin: 73px auto;
}

@media only screen and (min-width: 800px) {
  body.margintop #container {
    margin: 105px auto 90px;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

iframe .video {
  height: 112.6% !important;
}

header#header {
  position: relative;
  @include mobile { height: 30px; }

  a {
    color: #282828;
  }

  .site-title {
    display: none;
  }

  .logo {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    z-index: 9999;
    text-align: center;

    @include mobile {
      font-size: 0.9em;
    }

    &:hover, :active {
      opacity: 0.6;
    }

    &.hide {
      display: none;
    }

    h1 {
      margin: 0;
      font-size: 1.5em;
      font-weight: 500;
      color: #202020;
      opacity: .66;
      padding: 1em;
    }
  }

  .toggle-nav {
    position: fixed;
    left: 30px;
    top: 25px;
    z-index: 999999999;

    span {
      display: block;
      background: #282828;
      width: 20px;
      height: 2px;
      margin-bottom: 3px;
    }

    &.active span {
      -webkit-transition: background .4s;
      -moz-transition: background .4s;
      -ms-transition: background .4s;
      -o-transition: background .4s;
      transition: background .4s;
      background: #dcdcdc !important;
    }
  }
}

@media only screen and (min-width: 800px) {
  header#header {
    padding-top: 30px;

    .toggle-nav {
      display: none;
    }

    .logo {
      z-index: 9999999999;

      &.hide {
        display: block;
      }
    }

    &.notOnTop, &.scrollup {
      position: fixed;
      left: 50%;
      margin-left: -350px;
      z-index: 99999;
      background: #ebebeb;
      padding-top: 15px !important;
      padding-bottom: 20px;
      overflow: hidden;
      min-height: 20px;
    }

    &.notOnTop .site-title h2, &.scrollup .site-title h2 {
      position: absolute;
      top: 0;
      margin: 0;
      width: 500px;
      text-align: left;
    }

    &.notOnTop ul.main-nav, &.scrollup ul.main-nav, &.notOnTop div, &.scrollup div {
      margin: 0;
    }

    &.notOnTop .logo, &.scrollup .logo {
      display: none;
    }

    &.notOnTop {
      nav, .site-title {
        padding-top: 0;
      }
    }

    &.scrollup {
      nav, .site-title {
        padding-top: 0;
      }
    }

    &.notOnTop {
      top: -60px;
    }

    &.opacity {
      transition: top .2s linear;
      -webkit-transition: top .2s linear;
      top: -60px;
    }

    &.scrollup {
      top: 0;
      transition: top .2s linear;
      -webkit-transition: top .2s linear;
      z-index: 99999;
    }
  }
}

@media only screen and (min-width: 1000px) {
  header#header {
    &.notOnTop, &.scrollup {
      margin-left: -440px;
    }
  }
}

@media only screen and (min-width: 800px) {
  #container.margin-top {
    margin-top: 115px;
  }
}

html:not(.no-touchevents).fixed header#header {
  position: relative !important;
}

@media all and (-ms-high-contrast: none) {
  body {
    display: flex;
  }

  ::-ms-backdrop, body {
    display: block;
  }
}

main#content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.work header:not(#header) {
  margin-bottom: 30px;

  h1, h2 {
    text-align: center;
  }
}

@media only screen and (min-width: 1000px) {
  .work header:not(#header) figure {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .work header:not(#header) {
    margin-bottom: 60px;
  }
}

.work--overview__project {
  margin-bottom: 30px;
  @include desktop { margin-bottom: 60px; }

  &:last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }

  .project-title {
    text-align: center;
    margin-top: 10px;

    @include desktop { margin-top: 15px; }
  }
}

/*****************************************************
 * Path
 */

#main {
  display: block;
  margin: 0 auto;

  @include mobile {
    width: 100%;
  }

  path {
    -webkit-transition: fill-opacity .5s;
    transition: fill-opacity .5s;

    &:hover {
      fill-opacity: .5;
    }
  }
}

.work--overview__project {
  margin-bottom: 30px;
  @include desktop { margin-bottom: 60px; }

  &:last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }

  .project-title {
    text-align: center;
    margin-top: 10px;

    @include desktop { margin-top: 15px; }
  }
}

#defaultCanvas0 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.music iframe {
  width: 90%;
  padding: 0 5%;
}

.about h1 {
  margin-bottom: 0;
}

.home {
  user-select: none;
  -webkit-user-select: none;
}

#behance {
  fill: #0955ff;
}

#blog {
  fill: #c12354;
}

#facebook {
  fill: #3b5999;
}

#soundcloud {
  fill: #cb5923;
}

#twitter {
  fill: #55aded;
}

#youtube {
  fill: #cd181f;
}
